<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comme un poisson dans l’eau</title>
  <link rel="stylesheet" href="/new.min.css">
</head>

<body>

  <header>
    <h1>Comme un poisson dans l’eau</h1>
    <nav>
      <a href="/">Accueil</a>
      <a href="/livres">Livres</a>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

</body>

</html>
