<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comme un poisson dans l’eau</title>
  <link rel="stylesheet" href="/new.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
</head>

<body>

  <header>
    <h1>Comme un poisson dans l’eau</h1>
    <p>
      Site non-officiel du podcast antispeciste créé par Victor Duran-Le Peuch.
    </p>

    <nav>
      <a href="/">Accueil</a>
      ·
      <a href="/episodes">Liste des {{ db.episodes | length }} épisodes du podcast</a>
      ·
      <a href="/livres">Liste des {{ db.livres.length }} livres cités</a>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>
      Site non-officiel du podcast "Comme un poisson dans l’eau" créé par Victor Duran-Le Peuch.
      Tous les contenus de ce site ont été créés par Victor.
    </p>

    <nav>
      Écouter le podcast :
      <a href="https://podcasts.apple.com/fr/podcast/comme-un-poisson-dans-leau/id1597810048">Apple Podcasts</a>
      ·
      <a href="https://www.youtube.com/@poissonpodcast">YouTube</a>
      ·
      <a href="https://podcasters.spotify.com/pod/show/victor-duran-le-peuch">Spotify</a>
    </nav>

    <nav>
      Réseaux sociaux :
      <a href="https://www.instagram.com/poissonpodcast">Instagram</a>
      ·
      <a href="https://twitter.com/poissonpodcast">Twitter</a>
      ·
      <a href="https://www.facebook.com/poissonpodcast">Facebook</a>
      ·
      <a href="https://piaille.fr/@poissonpodcast">Mastodon</a>
    </nav>

    <nav>
      Plus :
      <a href="mailto:commeunpoisson@protonmail.com">Contact email</a>
      ·
      <a href="/soutenir">
        Soutenir le podcast
      </a>
    </nav>

  </footer>

</body>

</html>
