---
pagination:
    data: db.episodes
    size: 1
    alias: episode
permalink: "episodes/{{ episode.slug }}/"
layout: default
---

<div class="fil-ariane">
  <a href="/">Accueil</a>
  >
  <a href="/episodes/">{{ db.episodes | length }} épisodes</a>
  >
  {{ episode.titre | truncate(30) }}
</div>


<h1>
  Épisode {{ episode.titre }}
</h1>

{{ episode.date_publication | displayDate }}

<article class="episode">
  <div style="margin-bottom: 2rem;">
    <img src="/images/episodes/{{ episode.poster_filename }}" alt="Comme un poisson dans l’eau - {{ episode.titre }}">

    <div>
      <a href="https://www.youtube.com/watch?v={{ episode.youtube_id }}">écouter cet épisode sur youtube</a>
    </div>
  </div>

  {#
    {% if episode.audio_filename %}
      <audio controls>
        <source src="{{ episode.audio_filename }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    {% endif %}
  #}

  <h2>Description</h2>
  <p style="white-space: pre-line;">{{ episode.description }}</p>
  {# important not to put spaces or line break in this line #}

  {%- set foundTranscript = false -%}
  {%- for transcript in collections.transcript -%}
    {%- if transcript.data.slug == episode.slug -%}
      {%- set foundTranscript = transcript -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if foundTranscript -%}
    <h2>Transcription</h2>
    <details>
      <summary>Voir la transcription</summary>
      <p>
        {{ foundTranscript.content | safe }}
      </p>
    </details>
  {%- endif -%}

  {%- set livres = episode.ressources | selectRessourceType('livre') %}
  {% if livres | length > 0 %}
    <h2>{{ livres | length }} livres cités :</h2>
    {% for livre in livres %}
      {% include "livre.njk" %}
    {% endfor %}
  {% endif %}

  {%- set personnes = episode.ressources | selectRessourceType('personne') %}
  {% if personnes | length > 0 %}
    <h2>{{personnes | length }} personne(s) mentionnée(s) :</h2>
    <ul>
      {% for personne in personnes %}
        {% if personne.url %}
          <li>
            <a href="{{ personne.url }}">{{ personne.titre }}</a>
            {% if personne.url_domain %}
              (<i>{{ personne.url_domain }}</i>)
            {% endif %}
          </li>
        {% else %}
          <li>{{ personne.titre }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {%- set autresEpisodes = episode.ressources | selectRessourceType('autre épisode') %}
  {% if autresEpisodes | length > 0 %}
    <h2>{{autresEpisodes | length }} autre(s) épisode(s) mentionné(s) :</h2>
    <ul>
      {% for autreEpisode in autresEpisodes %}
        <li>
          <a href="{{ autreEpisode.url }}">{{ autreEpisode.titre }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}



  {%- set autresRessources = episode.ressources | excludeRessourceTypes(['livre', 'personne', 'autre épisode']) %}
  {% if autresRessources | length > 0 %}
    <h2>{{autresRessources | length }} autres références :</h2>
    <ul>
      {% for ressource in autresRessources %}
        {% if ressource.url %}
          <li>
            <a href="{{ ressource.url }}">
              {{ ressource.titre }}
            </a>
            {% if ressource.type_ressource == 'lien' and ressource.url_domain %}
              (<i>{{ ressource.url_domain }}</i>)
            {% elif ressource.type_ressource %}
              ({{ ressource.type_ressource}})
            {% endif %}
          </li>
        {% else %}
          <li>
            {{ ressource.titre }}
            {% if ressource.type_ressource %}
              ({{ ressource.type_ressource}})
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</article>
