---
layout: default
---

<div class="fil-ariane">
  <a href="/">Accueil</a>
  >
  {{ db.episodes | length }} épisodes
</div>

<h1>
  Liste des {{ db.episodes | length }} épisodes du podcast
</h1>

<section>
  Filtres :
  <div>
    <input type="radio" name="filter-type" value="all" id="filter-type-all" autocomplete="off" checked>
    <label for="filter-type-all">Tous les épisodes</label>
  </div>
  <div>
    <input type="radio" name="filter-type" value="entretiens" id="filter-type-entretiens" autocomplete="off">
    <label for="filter-type-entretiens">Uniquement les entretiens 🎙️ ({{ db.entretiens | length }} épisodes)</label>
  </div>
  <div>
    <input type="radio" name="filter-type" value="lectures" id="filter-type-lectures" autocomplete="off">
    <label for="filter-type-lectures">Uniquement les lectures 📚 ({{ db.lectures | length }} épisodes)</label>
  </div>
  <div>
    <input type="radio" name="filter-type" value="speciaux" id="filter-type-speciaux" autocomplete="off">
    <label for="filter-type-speciaux">Uniquement les épisodes spéciaux 🎁 ({{ db.episodes_speciaux | length }} épisodes)</label>
  </div>
</section>

<section>
  Tri :
  <div>
    <input type="radio" name="order" value="asc" id="order-asc" autocomplete="off" checked>
    <label for="order-asc">Par ordre chronologique</label>
  </div>
  <div>
    <input type="radio" name="order" value="desc" id="order-desc" autocomplete="off">
    <label for="order-desc">Le plus récent en premier</label>
  </div>
</section>

<div class="episodes-list">
  {% for episode in db.episodes %}
    <article class="episode card" data-type="{{ episode.type_episode }}">
      <div style="border-bottom: .5rem;">
        <a href="/episodes/{{ episode.slug }}" class="card-stretched-link">{{ episode.titre }}</a>
      </div>
      <div>
        {{ episode.date_publication | displayDate }}
      </div>
      <div>
        <img src="/images/episodes/{{ episode.poster_filename }}" alt="Comme un poisson dans l’eau - {{ episode.titre }}">
      </div>
    </article>
  {% endfor %}
</div>

<style>
  .episodes-list[data-filter-type="entretiens"] .episode:not([data-type="entretien"]) {
    display: none;
  }
  .episodes-list[data-filter-type="lectures"] .episode:not([data-type="lecture"]) {
    display: none;
  }
  .episodes-list[data-filter-type="speciaux"] .episode:not([data-type="special"]) {
    display: none;
  }
  .episodes-list[data-order="desc"] {
    display: flex;
    flex-direction: column-reverse;
  }
</style>

<script>
  const articlesElt = document.querySelector('.episodes-list');
  document.querySelectorAll('input[name="filter-type"]').forEach(function (input) {
    input.addEventListener('change', e => articlesElt.dataset.filterType = e.currentTarget.value)
  });
  document.querySelectorAll('input[name="order"]').forEach(function (input) {
    input.addEventListener('change', e => articlesElt.dataset.order = e.currentTarget.value)
  });
</script>
