---
pagination:
    data: db.episodes
    size: 1
    alias: episode
permalink: "episodes/{{ episode.slug }}/"
layout: default
---

<div class="fil-ariane">
  <a href="/">Accueil</a>
  >
  <a href="/episodes/">{{ db.episodes | length }} épisodes</a>
  >
  {{ episode.title | truncate(30) }}
</div>


<h1>
  Épisode {{ episode.title }}
</h1>

<article class="episode">
  <img src="/images/episodes/{{ episode.poster_filename }}" alt="Comme un poisson dans l’eau - {{ episode.title }}">

  <div>
    <a href="https://www.youtube.com/watch?v={{ episode.youtube_id }}">écouter cet épisode sur youtube</a>
  </div>

  {#
  {% if episode.audio_filename %}
    <audio controls>
      <source src="{{ episode.audio_filename }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  {% endif %}
    #}

  <p class="description">
    {{ episode.description }}
  </p>

  <h2>Transcription</h2>
  {%- for transcript in collections.transcript -%}
    {%- if transcript.data.slug == episode.slug -%}
      <div class="transcript">
        {{ transcript.content | safe }}
      </div>
    {%- endif -%}
  {%- endfor -%}

  {% if episode.ressources %}
    Références citées :
    <ul>
      {% for ressource in episode.ressources %}
        <li><a href="{{ ressource.url }}">{{ ressource.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</article>
