---
layout: default
---

<div class="fil-ariane">
  <a href="/">Accueil</a>
  >
  {{ db.episodes | length }} épisodes
</div>

<h1>
  Liste des {{ db.episodes | length }} épisodes du podcast
</h1>

<section>
  Filtres :
  <div>
    <input type="radio" name="filter-type" value="all" id="filter-type-all" autocomplete="off" checked>
    <label for="filter-type-all">Tous les épisodes</label>
  </div>
  <div>
    <input type="radio" name="filter-type" value="entretiens" id="filter-type-entretiens" autocomplete="off">
    <label for="filter-type-entretiens">Uniquement les entretiens 🎙️ ({{ db.interviews | length }} épisodes)</label>
  </div>
  <div>
    <input type="radio" name="filter-type" value="lectures" id="filter-type-lectures" autocomplete="off">
    <label for="filter-type-lectures">Uniquement les lectures 📚 ({{ db.readings | length }} épisodes)</label>
  </div>
  <div>
    <input type="radio" name="filter-type" value="speciaux" id="filter-type-speciaux" autocomplete="off">
    <label for="filter-type-speciaux">Uniquement les épisodes spéciaux 🎁 ({{ db.specials | length }} épisodes)</label>
  </div>
</section>

<section>
  Tri :
  <div>
    <input type="radio" name="order" value="asc" id="order-asc" autocomplete="off" checked>
    <label for="order-asc">Par ordre chronologique</label>
  </div>
  <div>
    <input type="radio" name="order" value="desc" id="order-desc" autocomplete="off">
    <label for="order-desc">Le plus récent en premier</label>
  </div>
</section>

<div class="articles">
  {% for episode in db.episodes %}
    <article class="episode" data-type="{{ episode.kind }}">
      <a href="/episodes/{{ episode.slug }}">
        <h3>
          {{ episode.title }}
        </h3>

        <img src="/images/episodes/{{ episode.poster_filename }}" alt="Comme un poisson dans l’eau - {{ episode.title }}">
      </a>
    </article>
  {% endfor %}
</div>

<style>
  article.episode {
    border-bottom: 1px solid #ddd;
  }
  .articles[data-filter-type="entretiens"] article.episode:not([data-type="entretien"]) {
    display: none;
  }
  .articles[data-filter-type="lectures"] article.episode:not([data-type="lecture"]) {
    display: none;
  }
  .articles[data-filter-type="speciaux"] article.episode:not([data-type="special"]) {
    display: none;
  }
  .articles[data-order="desc"] {
    display: flex;
    flex-direction: column-reverse;
  }
</style>

<script>
  const articlesElt = document.querySelector('.articles');
  document.querySelectorAll('input[name="filter-type"]').forEach(function (input) {
    input.addEventListener('change', e => articlesElt.dataset.filterType = e.currentTarget.value)
  });
  document.querySelectorAll('input[name="order"]').forEach(function (input) {
    input.addEventListener('change', e => articlesElt.dataset.order = e.currentTarget.value)
  });
</script>
