---
layout: default
---

<p>
  Ce site présente les
  <a href="/episodes">{{ db.episodes.length }} épisodes</a> du podcast ainsi que les {{ db.ressources.lenght }} références citées
  (<a href="/livres">{{ db.books.length }} livres</a>) pour qu’elles soient facilement accessibles
</p>

<h2>Dernier épisode</h2>

{%- set episode = db.episodes | first %}
{% include "episode-article.njk" %}
