---
layout: default
---

<p>
  Ce site présente les
  <a href="/episodes">{{ db.episodes.length }} épisodes</a> du podcast ainsi que les <a href="/livres">{{ db.livres.length }} livres</a> cités pour être facilement accessibles.
</p>

<h2>🎤 Dernier épisode</h2>

{%- set episode = db.episodes | reverse | first %}

<article class="episode">
  <a href="/episodes/{{ episode.slug }}">
    <h3>
      {{ episode.titre }}
    </h3>

    <img src="/images/episodes/{{ episode.poster_filename }}" alt="Comme un poisson dans l’eau - {{ episode.titre }}">
  </a>
</article>

<p>
  <a href="/episodes">Voir la liste complète des {{ db.episodes | length }} épisodes</a>
</p>

<h2>📚 Livre fréquemment cité</h2>

{%- set livre = db.livreMisEnAvant %}

{% include "livre.njk" %}

<p>
  <a href="/livres">Voir la liste complète des {{ db.livres | length }} livres cités</a>
</p>
