---
layout: default
---

<div class="fil-ariane">
  <a href="/">Accueil</a>
  >
  <a href="/episodes">{{ db.episodes | length }} épisodes</a>
  >
  Liste détaillée des
  {{ db.readings | length }} lectures
</div>

<h2>
  📚
  Liste détaillée des {{ db.readings.length }} lectures
</h2>

{% for episode in db.readings %}
  {% include "episode-article.njk" %}
{% endfor %}
