---
layout: default
---

<h2>Liste des {{ db.books.length }} livres cités</h2>

{% for ressource in db.books %}
  <article>
    <h3>
      {{ ressource.book_title }} - {{ ressource.authors }}
    </h3>
    <div class="book">
      <div class="thumb">
        {% if ressource.book_thumb %}
          <img src="/images/books/{{ ressource.book_thumb }}" alt="{{ ressource.book_title }} - {{ ressource.authors }}">
        {% else %}
          <img src="/images/book-thumb-default.png" alt="silhouette de livre">
        {% endif %}
      </div>
      <div class="content">
        {% if ressource.book_subtitle %}
          <h4>{{ ressource.book_subtitle }}</h4>
        {% endif %}
        <div><small>{{ ressource.isbn }}</small></div>
        <div><small><i>{{ ressource.title }}</i></small></div>
      </div>
    </div>
  </article>
{% endfor %}
