---
layout: default
---

<div class="fil-ariane">
  <a href="/">Accueil</a>
  >
  {{ db.livres | length }} livres cités
</div>


<h2>Liste des {{ db.livres.length }} livres cités dans le podcast</h2>

<p style="font-style: italic;">
  Les livres les plus fréquemment cités apparaissent en premier.
</p>

{% for livre in db.livres %}
  {% include "livre.njk" %}
{% endfor %}
