/* COMMON */

/* from https://sugar-css.com/doc/typography/headings */
h1{ font-size: 2rem; }
h2{ font-size: 1.75rem; }
h3{ font-size: 1.375rem; }
h4{ font-size: 1.125rem; }
h5{ font-size: 1rem; }
h6{ font-size: 1re; }

body {
	padding-bottom: 0;
}
footer {
	margin-bottom: 0 !important;
}

.fil-ariane {
	margin-bottom: 1rem;
	font-size: .8rem;
}

article.card {
	padding: 1.5rem;
	background: var(--nc-bg-2);
	border-left: 5px solid var(--nc-bg-3);
	position: relative;
}

article.card:hover {
	border-left-color: #999;
}

/* technique copied from bootstrap */
article.card a.card-stretched-link::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}



/* PAGE EPISODES */

.episodes-list img {
	max-width: 400px;
}

/* PAGE LIVRES */

article.livre {
	h3 {
		line-height: 1.2;
	}
	.cover-wrapper {
		margin-top: 1rem;
		display: flex;

		.thumb {
			width: 120px;
			flex-shrink: 0;
			flex-grow: 0;
			padding: 0 .5rem;
		}
		img {
			width: 100%;
		}
		.content {
			h4 {
				padding-top: 0;
			}
		}
		details {
			margin-top: .5rem;
		}
	}
}

header h1::after, footer::before {
	background: url(../images/fish.png) repeat-x center;
	display: block;
	height: 50px;
	content: '';
}

footer {
	background: var(--nc-bg-2);
	border-bottom: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;

	/* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

	margin: 10rem calc(50% - 50vw) 2rem;

	/* Shorthand for:

	margin-top: -2rem;
	margin-bottom: 2rem;

	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw); */

	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}

a[href]:not([href^="/"])::after {
	content: " ⤴";
}
