article .book {
	margin-top: 1rem;
  display: flex;

	.thumb {
		width: 120px;
		flex-shrink: 0;
		flex-grow: 0;
		padding: 0 .5rem;
	}
  img {
		width: 100%;
  }
	.content {
		h4 {
			padding-top: 0;
		}
	}
}

article.episode p.description {
	white-space: pre-line;
}

header h1::after, footer::before {
	background: url(../images/fish.png) repeat-x center;
	display: block;
	height: 50px;
	content: '';
}

footer {
	background: var(--nc-bg-2);
	border-bottom: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;

	/* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

	margin: 10rem calc(50% - 50vw) 2rem;

	/* Shorthand for:

	margin-top: -2rem;
	margin-bottom: 2rem;

	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw); */

	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}
